.inbox{
    height: inherit;
    background-color: white;
    border-radius: 20px;
    padding: 10px 0px;
}

@media only screen and (max-width: 768px){
    .inbox{
        background-color: #c3c4c7;
    }
  }
