.sidebar{
    width: fit-content;
    top: 110px;
    padding: 20px 0px;
    height: 98%;
}

.MuiSvgIcon-root  {
    margin: 0px;
    font-size: 30px;
    padding: 0px;
    border-radius: 50%;
    cursor: none;
  }
  
 .sidebar-item > .MuiSvgIcon-root:hover  {
      background-color: inherit;  
      padding: 6px 0px !important;
  }

.compose{
    display: flex;
    align-items: center;
}

.sidebar-logo{
    display: none;
}

.compose {
    font-size: 20px;
    width: fit-content;
    height: 50px;
    background-color: #67c2ef; 
    border-radius: 20px;
    padding: 0px 15px;
    color: white;
    font-weight: bold;
    cursor: pointer;
    margin-bottom: 25px;
    margin-left: 25px;
  }

  .compose > p{
   margin-left: 10px;
  }

.sidebar-links{
    height: 68vh;
    overflow-y: scroll;
}

.sidebar-item{
    display: flex;
    align-items: center;
    font-size: 20px;
    margin: 0px 10px 0px 0px;
    padding: 0px 0px 0px 10px;
    margin-right: 20px;
}

.sidebar-item:hover{
    cursor: pointer;
    background-color: #c7c7c7;
    border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}

.sidebar-item-p{
    margin-left: 10px;
    margin-right: 50px;
    font-size: 18px;
}

.sidebar-item-y{
    display: none;
}

.sidebar-mobile-links{
    display: none;
}


@media only screen and (max-width: 768px){
    .sidebar{
        top: 0;
        height: 100vh;
        position: fixed;
        background-color: white;
      }
    .sidebar-logo{
        position: relative;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0px 20px;
        margin: 0px 20px 20px 20px;
        height: 50px;
    }

    .sidebar-logo > img{
        height: 50px;
    }

    .close-sidebar{
        position: absolute;
        top: 4%;
        right: -15%;
        font-size: 20px;
        padding: 12px !important;
        border-radius: 50%;
    }
    .compose{
        display: none;
    }

    .sidebar-links{
        display: none;
    }
    .sidebar-mobile-links{
        display: block;
        border-top: 1px solid rgb(222, 219, 219);
        height: 85vh;
        overflow: scroll;
    }
    .sidebar-mobile-items{
        /* margin-top: 10px; */
    }

    .sidebar-mobile-items-title{
        font-size: 17px;
        margin: 25px 10px;
        padding-left: 10px;
    }

    .sidebar-mobile-link{
        display: flex;
        align-items: center;
        font-size: 15px;
        padding: 7px 27px;
        margin: 0;
        margin-right: 30px;
        color: rgb(97, 96, 96);
        /* border: 1px solid red; */
    }

    .sidebar-mobile-link > h4 {
        /* border: 1px solid red; */
        margin: 0;
    }

    .sidebar-mobile-link > span > .MuiSvgIcon-root {
        margin-right: 20px;
        padding: 0;
        font-size: 18px;
    }

    .sidebar-mobile-link:hover{
        cursor: pointer;
        background-color: #dfdfdf;
        border-top-right-radius: 20px;
        border-bottom-right-radius: 20px;
    }

    .sidebar-mobile-footer{
        border-top: 2px solid rgb(222, 219, 219);
    }
}