.page-header,
.select{
    display: flex; 
    align-items: center;
}

.select{
   
}

.select > input:hover{
    cursor: pointer;
    background-color: gray;
}

@media only screen and (max-width: 768px){
    .page-header{
      display: none;
    }
  }