.app{
  height: 100vh;
  background-color: #dfdfdf;
  position: relative;
}

.app-body{
  display: flex;
}

.page-body{
  flex: 1;
  margin: 0px 25px;
  height: 98%;
}

.MuiSvgIcon-root:hover  {
  background-color: inherit !important;  
}

.control-right-sidebar{
  position: absolute;
  bottom: 34px;
  right: 0px;
  height: 40px;
  font-size: 20px;
}

.control-right-sidebar > .MuiSvgIcon-root,
.right-sidebar-icon > .MuiSvgIcon-root{
  font-size: 20px!important;  
}

.right-sidebar-icon{
  padding: 0px 3px;
}

.right-sidebar-icon:hover{
  background-color: white;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  padding: 0px 3px;
}

@media only screen and (max-width: 768px){
  .control-right-sidebar{
    display: none;
  }
}
