.app{
  height: 100vh;
  background-color: #f5f5f5;
  position: relative;
  padding-right: 20px;
}

.mobile-compose{
  display: none;
}

.mobile-footer{
  display: none;
}

.control-right-sidebar{
  position: absolute;
  bottom: 34px;
  right: 0;
  height: 40px;
  font-size: 10px;
  z-index: 1000;
}

.control-right-sidebar > .MuiSvgIcon-root,
.right-sidebar-icon > .MuiSvgIcon-root{
  font-size: 10px!important;  
}

.right-sidebar-icon{
  padding: 0px 3px;
}

.right-sidebar-icon:hover{
  background-color: white;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  padding: 0px 3px;
}

.MuiSvgIcon-root:hover  {
  background-color: inherit !important;  
}

.app-body{
  display: flex;
  padding-top: 20px;
  width: 100%;
}

.left-app-body{
  max-width: 20%;
  margin-right: 45px;
}

.noleft-app-body{
  width: inherit;
}


.center-app-body{
  width: 75%;
}

.center-app-noleftsidebar{
  width: 80%;
}

.center-app-body-nomenu{
  width: 85%;
}

.no-activemenu{
  width: 90%;
}

.no-no{
  width: 91%;
}

/* .center-app-body > div{
  border: 1px solid red;
} */

.right-app-body{
  width: 5%;
  margin-left: 20px;
}

@media only screen and (max-width: 768px){
  .app{
    padding: 0 20px;
  }

  .app-body{
    padding: 0 0px;
    margin: 10px 0;
  }

  .app-body > div{
    padding: 0 0px;
    margin: 0px 0;
  }

  .center-app-body{
    width: inherit;
  }
  .right-app-body{
    width: 0%;
    margin-left: 0px;
  }

  .mobile-compose{
    position: fixed;
    bottom: 80px;
    right: 30px;
    background-color: rgb(210, 210, 210);
    display: flex;
    align-items: center;
    padding: 10px 8px;
    border-radius: 13px;
    cursor: pointer;
    z-index: 100;
  }
  
  .mobile-compose > .MuiSvgIcon-root{
    padding: 0;
  }
  
  .mobile-compose > p{
    margin: 0;
    font-size: 20px;
    font-weight: 500;
    margin-left: 6px;
  }

  .app-body{
    display: flex;
    justify-content: center;
    width: 100%;
  }

  .left-app-body{
    z-index: 1000;
  }

  .control-right-sidebar{
    display: none;
  }

  .left-app-body{
    width: 0;
  }
  
  .center-app-noleftsidebar{
    width: 90%;
  }

  .mobile-footer{
    position: fixed;
    bottom: 0px;
    right: 0px;
    width: 100%;
    background-color: rgb(210, 210, 210);
    display: flex;
    align-items: center;
    z-index: 100;
  }

  .footer-items{
    width: inherit;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: inherit;
    padding: 7px 0px;
  }

  .footer-items > div{
    margin: 0px 10px;
    display: flex;
    flex-direction: column;
    padding: 10px 20px;
    position: relative;
    cursor: pointer;
  }
  
  .footer-items > div > .MuiSvgIcon-root{
    padding: 0 7px;
    font-size: 18px !important;
    margin-left: 8px;
  }

  .footer-items > div  > span{
    margin: 0;
    font-weight: bolder;
    position: absolute;
    top: 4px;
    background-color: blueviolet;
    padding: 2px 3px;
    border-radius: 20px;
    right: 14px;
    font-size: 7px;
    color: white;
    font-weight: 500;
  }
  
  .footer-items > div  > p{
    margin: 0;
    font-size: 17px;
    font-weight: 500;
    margin-left: 6px;
  }

}
